My attempt to group by the 15 minute intervals and get information from just the time excluding dates. They were all pretty consistent across the board and didn't yield results.

In [1]:
#import necessary modules
import pandas as pd

In [2]:
# read in and examine logins file
logins = pd.read_json('logins.json')
logins.head()
logins.shape

(93142, 1)

In [3]:
grouped15 = pd.DataFrame(logins.groupby([pd.Grouper(key='login_time', freq='15Min')]).sum()).reset_index()

print(grouped15.head())
print(grouped15.tail())

           login_time
0 1970-01-01 20:00:00
1 1970-01-01 20:15:00
2 1970-01-01 20:30:00
3 1970-01-01 20:45:00
4 1970-01-01 21:00:00
              login_time
9783 1970-04-13 17:45:00
9784 1970-04-13 18:00:00
9785 1970-04-13 18:15:00
9786 1970-04-13 18:30:00
9787 1970-04-13 18:45:00

In [4]:
timeOnly = pd.DataFrame()
timeOnly['LastDigit'] = grouped15['login_time'].apply(lambda x: str(x)[-8:])
timeOnly.head()

  LastDigit
0  20:00:00
1  20:15:00
2  20:30:00
3  20:45:00
4  21:00:00

In [5]:
frequentTimes = pd.DataFrame()
frequentTimes['occurenceCount'] = timeOnly['LastDigit'].value_counts().sort_values(ascending = False)

In [6]:
#Verify the appropriate number of logins
print(frequentTimes['occurenceCount'].sum())
print(frequentTimes.shape)

9788
(96, 1)

In [7]:
frequentTimes = frequentTimes.reset_index().rename(columns={"index": "time"})

In [8]:
frequentTimes = frequentTimes.sort_values(by='occurenceCount', ascending=False)

In [9]:
frequentTimes.head()

        time  occurenceCount
0   18:00:00             102
59  10:00:00             102
68  21:45:00             102
67  08:30:00             102
66  12:00:00             102